  <div class="contenedor">
      <nav class="barra navegacion">
        <div class="contenedor_fluid">
          <div class="logo-usuario">
            <a href="/home" class="logo-usuario">
              <img src="img/carrito.png" alt="carro" />
              <h1 class="titulo">Click&Shop</h1>
            </a>
          </div>
          <div class="colapsar" id="menu">
            <ul class="lista_navegacion">
              <li class="elemento_navegacion"><a class="enlace_navegacion" href="/home">Inicio</a></li>
              <li *ngIf="rolUsuario == 1 || rolUsuario === 2" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/productos">Productos</a>
              </li>
              <li *ngIf="rolUsuario == 1 || rolUsuario === 2" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/supermercados">Supermercados</a>
              </li>
              <li *ngIf="rolUsuario == 1 || rolUsuario === 2" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/favoritos">Favoritos</a>
              </li>

              <li *ngIf="rolUsuario === 1" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/admin-panel">Panel Admin</a>
              </li>
  
              <li *ngIf="usuarioAutenticado" class="elemento_navegacion">
                <button class="boton-cerrar-sesion" (click)="cerrarSesion()">Cerrar Sesión</button>
              </li>

              <li *ngIf="!usuarioAutenticado" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/login">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
