:root {
  --app-bg-color:     #ffffff;
  --header-bg-color:  rgba(255, 255, 255, 0.9);
  --app-button-color: #28a745;
  --app-hover-color:  #218838;
}

html,
body,
app-root {
  margin: 0;
  padding: 0;
  background-color: var(--app-bg-color) !important;
}