.spinner-gif-top {
  width: 60px;
  height: 60px;
}

::ng-deep .ngx-slider-tick-value {
  display: none !important;
}
::ng-deep .ngx-slider .ngx-slider-floor,
::ng-deep .ngx-slider .ngx-slider-ceil {
  display: none !important;
}

.card-title {
  font-size: 0.85rem;
  min-height: 48px;
}

.card-text {
  font-size: 0.8rem;
}

.card img {
  max-height: 120px;
  object-fit: contain;
}
