.spinner-gif-top {
  width: 60px;
  height: 60px;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  width: 16px !important;
  height: 16px !important;
  top: -6px !important;
  background-color: #198754 !important;
  border: none !important;
}

::ng-deep .ngx-slider .ngx-slider-bubble,
::ng-deep .ngx-slider .ngx-slider-model-value,
::ng-deep .ngx-slider .ngx-slider-limit,
::ng-deep .ngx-slider .ngx-slider-tick-value {
  display: none !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer:nth-child(4),
::ng-deep .ngx-slider .ngx-slider-pointer:after {
  display: none !important;
}

::ng-deep .ngx-slider .ngx-slider-selection {
  background-color: #198754 !important;
}

::ng-deep .ngx-slider .ngx-slider-bar {
  height: 4px !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.btn-success {
  background-color: var(--app-button-color);
  color: white;

  &:hover {
    background-color: var(--app-hover-color);
    color: white;
  }
}