<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click&Shop</title>
</head>

<body>

  <header>
    <div class="contenedor">
      <nav class="barra navegacion">
        <div class="contenedor_fluid">
          <div class="logo-usuario">
            <a href="/home" class="logo-usuario">
              <img src="img/carrito.png" alt="carro" />
              <h1 class="titulo">Click&Shop</h1>
            </a>
          </div>
          <div class="colapsar" id="menu">
            <ul class="lista_navegacion">
              <li class="elemento_navegacion"><a class="enlace_navegacion" href="/home">Inicio</a></li>
              <li *ngIf="rolUsuario == 1 || rolUsuario === 2" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/productos">Productos</a>
              </li>
              <li *ngIf="rolUsuario == 1 || rolUsuario === 2" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/supermercados">Supermercados</a>
              </li>
              <li *ngIf="rolUsuario == 1 || rolUsuario === 2" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/favoritos">Favoritos</a>
              </li>

              <li *ngIf="rolUsuario === 1" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/admin-panel">Panel Admin</a>
              </li>
  
              <li *ngIf="usuarioAutenticado" class="elemento_navegacion">
                <button class="boton-cerrar-sesion" (click)="cerrarSesion()">Cerrar Sesión</button>
              </li>

              <li *ngIf="!usuarioAutenticado" class="elemento_navegacion">
                <a class="enlace_navegacion" href="/principal">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  
  <main>
   
    
    <section class="filtros">
      <h3>Filtros</h3>
      <div class="contenedor-busqueda">
        <input 
          type="text"
          class="entrada-busqueda"
          placeholder="Escribe tu búsqueda aquí..."
          [(ngModel)]="terminoBusqueda">
        <button class="boton-buscar" (click)="buscar()">Buscar</button>
        <button class="boton-buscar" (click)="limpiarBusqueda()">Limpiar</button>
      </div>
      <form (submit)="filtrarProductos()">
        <label for="precioMin">Precio Mínimo</label>
        <input type="number" id="precioMin" [(ngModel)]="precioMin" name="precioMin">
        
        <label for="precioMax">Precio Máximo</label>
        <input type="number" id="precioMax" [(ngModel)]="precioMax" name="precioMax">
        
        <label for="grasaMin">Grasas Mínimas</label>
        <input type="number" id="grasaMin" [(ngModel)]="grasaMin" name="grasaMin">
        
        <label for="grasaMax">Grasas Máximas</label>
        <input type="number" id="grasaMax" [(ngModel)]="grasaMax" name="grasaMax">
        
        <label for="hidratosMin">Hidratos Mínimos</label>
        <input type="number" id="hidratosMin" [(ngModel)]="hidratosMin" name="hidratosMin">
        
        <label for="hidratosMax">Hidratos Máximos</label>
        <input type="number" id="hidratosMax" [(ngModel)]="hidratosMax" name="hidratosMax">
        
        <label for="azucarMax">Azúcar Máximo</label>
        <input type="number" id="azucarMax" [(ngModel)]="azucarMax" name="azucarMax">
        
        <button type="submit">Aplicar Filtros</button>
      </form>
    </section>
  
    <section class="cuadrícula-productos">
      <div *ngIf="productosFiltrados.length === 0">
        <img src="img/spinner.gif" alt="Cargando..." style="width: 50px; height: auto; float: right;" />
      </div>
    
      <div *ngFor="let producto of obtenerProductosPaginaActual()" class="tarjeta-producto">
        <img [src]="ImagenSupermercado(producto.supermercado)" 
        alt="{{ producto.nombre }}" 
        class="logo-supermercado" 
        style="width: 40px; height: auto;">
   
        <img [src]="producto.link_imagen || 'assets/placeholder.jpg'" 
             alt="{{ producto.nombre }}" 
             width="150">
        <h3>{{ producto.nombre }}</h3>
        <p>Supermercado: {{ producto.supermercado }}</p>
        <p>Precio: {{ producto.precio }} €</p>
      </div>
    </section>
    
  
  </main>
  <div *ngIf="totalPages > 1" class="paginacion">
    <button (click)="anteriorPagina()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="siguientePagina()" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>

  <footer class="pie-pagina">
    <div class="contenedor-pie">
      <div class="seccion-pie">
        <h4 class="titulo-pie">Sobre Nosotros</h4>
        <ul class="lista-pie">
          <li><a href="#quienes-somos">Quiénes somos</a></li>
        </ul>
      </div>
      <div class="seccion-pie">
        <h4 class="titulo-pie">Ayuda</h4>
        <ul class="lista-pie">
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Soporte</a></li>
        </ul>
      </div>
      <div class="seccion-pie">
        <h4 class="titulo-pie">Redes Sociales</h4>
        <div class="iconos-redes">
          <a href="#"><img src="img/facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="img/x.png" alt="Twitter" /></a>
          <a href="#"><img src="img/instagram.png" alt="Instagram" /></a>
        </div>
      </div>
      <div class="seccion-pie">
        <h4 class="titulo-pie">Contacto</h4>
        <p class="contacto-pie">Teléfono: +34 0000000000</p>
        <p class="contacto-pie">Email: <a href="mailto:clickshop&#64;gmail.com">clickshop&#64;gmail.com</a></p>
      </div>
    </div>
    <div class="pie-inferior">
      <p>&copy; 2024 Click&Shop. Todos los derechos reservados.</p>
    </div>
  </footer>

</body>

</html>