:root {
  --header-height: 0px;
}

html,
body,
app-root {
  margin: 0;
  padding: 0;
}

app-header + * {
  margin-top: var(--header-height) !important;
}

@media (max-width: 1128px) and (min-width: 910px) {
  app-header + * {
    margin-top: calc(70px) !important;
  }
}