@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
}

.contenedor {
  flex: 1 0 auto;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.fondo-desenfocado {
  background: url('/img/supermercado.webp') center/cover no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.superposicion-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3); /* opcional desenfoque */
  backdrop-filter: blur(6px);
  z-index: -1;
}

.barra {
  width: 100%;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
}

.fila_supermercados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  text-align: center;
}

.columna_supermercado {
  flex: 1 1 220px;
  max-width: 220px;
  min-width: 180px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}

.columna_supermercado p {
  margin: 0;
  padding: 0 5px;
  word-wrap: break-word;
}

.columna_supermercado:nth-child(-n+3),
.columna_supermercado:nth-child(n+4) {
  flex: 1 1 25%;
  max-width: 25%;
}

.columna_supermercado:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.carrefour {
  border: 3px solid #0078C4;
}

.amazon {
  border: 3px solid #00B373;
}

.alcampo {
  border: 3px solid #E30613;
}

.mercadona {
  border: 3px solid #007E33;
}

.dia {
  border: 3px solid #E30613;
}

.logo_supermercado {
  max-height: 100px;
  max-width: 100%;
  object-fit: contain;
  margin-top: 25px;
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  .fila_supermercados {
    gap: 20px;
  }

  .columna_supermercado {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .encabezado {
    flex-wrap: nowrap;
  }

  .lista_navegacion {
    justify-content: flex-end;
    width: auto;
  }
}

@media (max-width: 480px) {
  .columna_supermercado {
    flex: 1 1 90%;
    max-width: 90%;
  }
}


